<% provide :title, t(".home") %>
<!-- <h1><%= t ".static_home" %></h1>
<p><%= t ".find_file_home" %></p> -->
<% if user_signed_in? %>
  <%= render "posts/post_form" %>
<% end %>
<%= render @posts %>
<%= will_paginate @posts %>
