<div class="panel panel-default friends">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t ".my_friends" %></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
      <li><%= link_to image_tag("user.png"),"#", class: "thumbnail"%></li>
    </ul>
    <div class="clearfix"></div>
    <%= link_to t(".view_all_my_friends"), "#", class: "btn btn-primary"  %>
  </div>
</div>
