<header>
  <div class="container">
    <%= image_tag "logo.png" %>
    <% unless user_signed_in? %>
      <%= link_to t(".log_in"),"#", id: "login_modal"  %>
      <%= link_to t(".sign_up"),"#", id: "signup_modal"  %>
    <% else %>
    <div class="form-inline">
      <div class="form-group">
      <span class="label label-success"><%= current_user.full_name %></span>
        <%= link_to "Log out", destroy_user_session_path, class: "btn btn-default",method: :delete  %>
      </div>
    </div>
    <% end %>
  </div>
</header>

